.App{
  min-height: 100vh;
  font-family: Times New Roman;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.searchform{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.searchbar{
  width: 450px;
  height: 25px;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 18px 0 0 18px;
  border: 2px solid #f197dc;
  text-align: center;
  
}

.searchbutton{
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  border: none;
  padding: 10px 20px;
  color: black;
  height: 48px;
  border-radius: 0 18px 18px 0;
  border: 2px solid #f197dc;
}

button:hover {
  background-color: #ac198a;
  color: white;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 18px;
  
}